body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-size: 10pt;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.highlight {
  font-weight: bold;
}

.large {
  font-size: 18pt;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

.table {
  font-size: 11pt;
}

.navbar-brand {
  color: #09d3ac;
}

.form-group {
  margin: 10px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 0px;
}

.nav-tabs {
  margin-bottom: 0;
  margin-top: 25px;
}

.nav-item {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-left: 5px;
  margin-right: 5px;
}
